@import url('../../styles/constants.css');

#login-page-container {
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 2fr;
  justify-items: center;
  align-items: center;
}

#login-form {
  width: 75%;
  padding: 4em 2em; 
  font-size: 1.6rem;
  min-width: 39rem;
  background: rgba(150, 150, 150, 0.5);

  display: flex;
  flex-direction: column;
  gap: 2em;
}

.login-form-field {
  width: 35ch;
}


#button-section {
  margin-top: 2em;
}

#login-button {
  width: 10ch;
}

#create-account-link {
  margin-top: .5em;
  color: var(--light-color);
}

#create-account-link:hover {
  color: var(--highlight-color);
  cursor: pointer;
}

/*======
  DESIGN
======*/

#login-design-container {
  width: 100%;
  height: 100%;
  background: orangered;
}