:root {
  --primary-color: #274472;
  --secondary-color: #5885AF;
  --light-color: #C3E0E5;
  --dark-color: #222;
  --font-family: 'Red Hat Display', 'Public Sans', 'Outfit', sans-serif;
  --highlight-color: #75E6DA;
}
